.addTaskRow {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: darkgray;
  color: white;

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}